<div class="dashboard-container">
    <div class="sidebar">
        <h1>Panel Director</h1>
        <nav>
            <button [class.active]="activeTab === 'users'" (click)="activeTab = 'users'">👥 Gestión Usuarios</button>
            <button [class.active]="activeTab === 'map'" (click)="activeTab = 'map'">🗺️ Mapa Locales</button>
        </nav>
    </div>

    <div class="content icon">
        <app-user-management *ngIf="activeTab === 'users'"></app-user-management>
        <app-admin-map *ngIf="activeTab === 'map'"></app-admin-map>
    </div>
</div>